.container{
  background-color: gray;
  min-height: 500px;
  max-height: 500px;
  text-align: left;
  margin: 0px;
  display: inline-block;
  width:100%;
  overflow: auto;
}

.container input[type="text"],input[type="number"]
{
  width:400px;
  color:black;
  font-size:18px;
  border-radius:4px;
  margin-left: 80px;
  margin-top: 5px;
}
.pa
{
  max-width:200px;
  font-family: vedarana;
  font-size:18px;
  padding-bottom:10px;
  padding-top:10px;
  margin-left:0px;
  text-align:center;
  color: white;
}

.container p{
  color: white;
  font-size: 30px;
  font-family: vedarana;
  margin-top: 20px;
}
.opt1{
  overflow: auto;
}
