<div class="container" ng-app="myApp">
  <div ng-controller="myCtrl">
    <form>
  <p>ADD PRODUCTS</p>
  <input type="text"placeholder="Product ID" ng-model="productid"><br>
  <input type="text"placeholder="Product Name" ng-model="Producname"> <br>
  <input type="text"placeholder="Product Description" ng-model="Productdescription"><br>
  <input type="text"placeholder="Product Rate" ng-model="rate"><br>
  <input type="text"placeholder="Product GST" ng-model="gst"><br>
  <input type="button" ng-click="onRegisteredSubmit()"value="SUBMIT">
    </form>
  </div>

  </div>

