<div class="container">
  <div ng-controller="myCtrl">
    <form>
      <p>EDIT PRODUCTS</p>
      <input type="text"placeholder="Product ID" ng-model="productid"><br>
      <input type="text"placeholder="Product Name" ng-model="Producname"> <br>
      <input type="text"placeholder="Product Description" ng-model="Productdescription"><br>
      <input type="text"placeholder="Product Rate" ng-model="rate"><br>
      <input type="text"placeholder="Product GST" ng-model="gst"><br>
      <input type="submit" value="SUBMIT"  ng-click="submit()">
    </form>
  </div>

</div>
